@import "fonts.css";

html,
body{
	margin: 0px;
	padding: 0px;
}

img {
	max-width: 100%;
}



#cover{
	background: url('img/cover.jpg') center center no-repeat;
	background-size: cover;
	height: 580px;
	text-align: center;
	display: flex;
	align-items: center;
	background-attachment: fixed;
}
#cover-caption{
	width: 100%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{
	background-image: url(img/pw_maze_black.png);
	color: red;
	font-family: ;
	margin-bottom: 0px;
}
p#footerline{
	text-align: center;
	font-family:monospace;
	color: white;
	font-size: 12px;
	margin: 0px;
}
#upbtn{
	background-color: red;
	color: white;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#upbtn:hover{
	background-color: darkred;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
/*--------------------------------------------------------------
# NavBar Section
--------------------------------------------------------------*/

#nav{
	font-family: gracetians;
	font-size: 17px;
	text-align: right;
}
#text-justify{
	text-align: center;
}
/*--------------------------------------------------------------
# countdown clock
--------------------------------------------------------------*/

.count{ 
    text-align: center; 
  
  font-family: sans-serif; 
  font-weight: 100;
   margin-top: 40px;
} 

 #clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: transparent; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: rgb(220, 53, 69);; 
    display: inline-block; 
} 
.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
}

/*--------------------------------------------------------------
# button
--------------------------------------------------------------*/

.learn-button{
	color:white;
	font-size:20px;
	border-color: #ff0000; 

	background-color:#ff0000;
	padding:10px 15px;
	margin-left: 20px;
	cursor:pointer;
	 margin-top: 30px;


	}
	@media  screen and (max-width: 600px){
.learn-button{
	text-align: center;

}	

	}


/*--------------------------------------------------------------
# content & about tedx bkbiet
--------------------------------------------------------------*/	

.content{
	height:100%;
	width: 100%;
	display: inline-block;
	padding-bottom:35px;

}
.gm-content h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align:center;
	padding-top:3%;
	padding-bottom:2px;
	}
	.gm-content p{
	width: 80%;
	text-align: center;
	font-size: 17px;
	padding-left:200px;
}
@media screen and (max-width: 600px) {
   .gm-content p{ 
     width: 80%;
	padding-left:100px;
	text-align:center;

   }
}


.tedx{
	height: 420px;
	width: 100%;
	background: url(img/events.jpg) center center no-repeat;
	display: inline-block;
	background-size:cover;
	background-attachment: fixed;
	 text-align: center;
	 text-align:left;
	 padding-left:30px;
	

}

.tedx h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align:left;
	padding-top:3%;
	padding-bottom:2px;
	padding-left: 15px;
	background-size:cover;
	background-position:center;
}

.tedx h1 {
	color:red;
	font-size:40px;
}
.tedx h2{
	color: white;
	
	width: 500px;

}


.tedx p{
	color: white;
	
	width: 500px;

}

	@media  screen and (max-width: 600px){
	.tedx{
	height: 500px;
	width: 100%;
	text-align: justify;
	margin: 0;
	padding: 0;
	display: inline-block;
	background-size:cover;
	 text-align: center;
	 text-align:left;
	 padding-left:30px;

}


.tedx p{
	font-size: 16px;
	width: 350px;
}

}

.read-button{
	color:white;
	font-size:20px;
	border-color: #0a0a0f; 
	border-radius:30px;
	background-color:black;
	padding:10px 15px;
	margin-left: 20px;
	cursor:pointer;

	}

/*--------------------------------------------------------------
# our team
--------------------------------------------------------------*/


.team h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align:left;
	padding-top:3%;
	padding-bottom:0px;
	padding-left: 10px;
	background-size:cover;
	background-position:center;
}

.team h1 {
	color:#14141f;
	font-size:40px;
	-webkit-text-stroke:1px #000000;
	-moz-text-stroke:1px #000000;
	-ms-text-stroke:1px #000000;
    -o-text-stroke:1px #000000;
}

.team p{

	font-size: 17px;
    width: 80%;
	padding-left:150px;
	text-align:center;
	
}
@media screen and (max-width: 600px) {
   .team p{ 
     width: 80%;
	padding-left:100px;
	text-align:center;
   }
}



/* Float four columns side by side */
.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.column1 p{

	text-align: center;

}

@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
}
.column1:hover{
 box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
 cursor: pointer;

}
/* Style the counter cards */
.card {
  
  padding: 15px;
 text-align: center;
  background-color:white;
  

}

.card p{
	color: #808080;
}
/*--------------------------------------------------------------
# contact
--------------------------------------------------------------*/

.contact{
	height: 150px;
	width: 100%;
	font-size: 17px;
	margin: 0;
	padding: 0;
	display: inline-block;
	 text-align: center;
	 
}

	








/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
	background-color: black;
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: #fff;
	padding: 60px 0 40px 0;
	cursor:pointer;
}

#about:hover {
	background-color: #e62b1e/*rgba(13, 20, 41, 1)*/;
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: #fff;
	padding: 60px 0 40px 0;
}

#about h2 {
	font-size: 36px;
	font-weight: bold;
	font-family: alidth;
	margin-bottom: 10px;
	color: #fff;
}

#about h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #fff;
	font-family: alidth;
}

#about p {
	font-size: 14px;
	font-family: google;
	margin-bottom: 20px;
	color: #fff;
}
#abu p{
	font-family: google;
}
#abu h1{
	
	font-family: lemonmilk;
}
#head {
	font-family:gracetians;
	font-size: 15px; 
}
#team p{
	font-family: google;
}
