html,body{
	margin: 0px;
	padding: 0px;
}
@import "fonts.css";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{
	background-image: url(img/pw_maze_black.png);
	color: red;
	font-family: ;
	margin-bottom: 0px;
}
p#footerline{
	text-align: center;
	font-family:monospace;
	color: white;
	font-size: 12px;
	margin: 0px;
}
#upbtn{
	background-color: red;
	color: white;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#upbtn:hover{
	background-color: darkred;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
/*--------------------------------------------------------------
# NavBar Section
--------------------------------------------------------------*/

#nav{
	font-family: gracetians;
	font-size: 17px;
	text-align: right;
}
#text-justify{
    text-align: center;
}
/*--------------------------------------------------------------
# HR Styling
--------------------------------------------------------------*/

hr.styleline { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*
p.lead{
    text-align: center;
    color:crimson;
}
h1.display-5{
    text-align: center;
    color:darkred;
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  background-color: black;
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

#about:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#about p {
    font-size: 14px;
    font-family: fantasy;
    margin-bottom: 20px;
    color: #fff;
}
#abu p{
	font-family: 'Source Sans Pro', sans-serif;
}