html,body{
	margin: 0px;
	padding: 0px;
}
@import "fonts.css";

.footer{
	background-image: url(img/pw_maze_black.png);
	color: red;
	font-family: ;
	margin-bottom: 0px;
}
p#footerline{
	text-align: center;
	font-family:monospace;
	color: white;
	font-size: 12px;
	margin: 0px;
}
#upbtn{
	background-color: red;
	color: white;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#upbtn:hover{
	background-color: darkred;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#nav{
	font-family: gracetians;
	font-size: 17px;
	text-align: right;
}
#text-justify{
    text-align: center;
}